<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8" />
</head>
<body>

<p th:text="#{reset_password.request_made(${serviceName})}">
    A request has been made to reset your account password.
</p>
<p>
    <a href="http://login.example.com/login/reset_password?code=some_code"
       th:href="@{${resetUrl}(code=${code})}"><span th:text="#{reset_password.reset_your_password}">Reset your password</a>
</p>
<p th:text="#{reset_password.if_not_ignore}">
    If you did not make this request, simply ignore this message and your old password will continue to work.
</p>
<p>
    <span th:text="#{reset_password.thank_you}">Thank you</span>,<br />
    <th:block th:text="${serviceName}">The Administration</th:block>
</p>
</body>
</html>
